# Общее
![alt text](base.png)

In [1]:
import pandas as pd

In [2]:
import warnings

warnings.simplefilter("ignore")

In [3]:
from base import DataObj

In [4]:
full_data = DataObj('data')

100%|██████████| 26/26 [00:20<00:00,  1.26it/s]

In [6]:
full_data.keys()

['inn_list',
 'contract_main_info',
 'contract_item_info',
 'contract_termination',
 'contract_improper_execution',
 'notification_info',
 'complaint_info',
 'participation_statistic',
 'rnp',
 'msp_reestr',
 'special_taxation',
 'fssp_enforcement_proceedings',
 'statistic_codes',
 'bo_str_codes',
 'bo_balance',
 'bo_capital_change_1',
 'bo_capital_change_2',
 'bo_capital_change_3',
 'bo_financial_results',
 'bo_fund_movement',
 'bo_target_fund_use',
 'avg_staff_qty',
 'egrul_info',
 'egrul_licenses',
 'egrip_info',
 'egrip_licenses']

## Список ИНН (inn_list)

In [16]:
full_data.desc['inn_list']

  Название поля                     Описание поля  Примечание
0           inn  ИНН организации/физического лица         NaN

In [17]:
full_data.data['inn_list']

                 inn
0         7719484339
1         2703065260
2         6664047737
3         7718605781
4         5908078473
...              ...
199995  862202982579
199996    6670390854
199997    1660179980
199998    7606037185
199999    2707005960

[200000 rows x 1 columns]

## Контракты (contract_main_info, contract_item_info, contract_termination, contract_improper_execution)
- contract_main_info, contract_termination, contract_improper_execution можно на мёрж
- в рамках одного контракта (из contract_main_info) получаем несколько закупок в contract_item_info по id_contract

In [18]:
full_data.desc['contract_main_info']

,Название поля,Описание поля,Примечание
0,id_contract,Идентификатор контракта,NaN
1,id_procedure,Идентификатор закупки,NaN
2,customer_inn,ИНН заказчика,NaN
3,customer_kpp,КПП заказчика,NaN
4,protocol_date,Дата подведения результатов определения постав...,NaN
5,sign_date,Дата заключения контракта,NaN
6,min_publish_date,Дата публикации первой версии контракта в ЕИС,NaN
7,contract_subject,Предмет контракта,NaN
8,contract_price_rub,"Цена контракта, руб.",NaN
9,advance_sum_percents,Размер аванса в процентах от цены контракта,NaN
10,subcontractor_sum_percents,Объем привлечения к исполнению контракта субпо...,NaN
11,execution_start_date,Дата начала исполнения контракта,NaN
12,execution_end_date,Дата окончания исполнения контракта,NaN
13,enforcement_type,Обеспечение исполнения контракта,Допустимые значения:\nbankGuarantee - Банковск...
14,enforcement_amount_rub,"Сумма обеспечения исполнения контракта, руб.",NaN
15,supplier_inn,ИНН поставщика,NaN
16,supplier_kpp,КПП поставщика,NaN

In [19]:
full_data.desc['contract_item_info']

    Название поля              Описание поля  Примечание
0     id_contract    Идентификатор контракта         NaN
1  tru_okpd2_code  Код ОКПД2 объекта закупки         NaN

In [20]:
full_data.desc['contract_termination']

,Название поля,Описание поля,Примечание
0,id_contract,Идентификатор контракта,NaN
1,t_termination_date,Дата прекращения действия (расторжения) контракта,NaN
2,t_reason_info,Причина расторжения контракта и реквизиты доку...,NaN
3,t_reason_name,Наименование основания расторжения контракта,NaN

In [21]:
full_data.desc['contract_improper_execution']

,Название поля,Описание поля,Примечание
0,id_contract,Идентификатор контракта,NaN
1,e_improper_execution,Информация о ненадлежащем исполнении или неисп...,NaN
2,e_doc_execution_name,Дата документа об исполнении контракта,NaN
3,e_doc_execution_date,Наименование документа об исполнении контракта,NaN

In [29]:
merged_contract = pd.merge(full_data.data['contract_main_info'],
                           full_data.data['contract_termination'], on='id_contract', how='outer')
merged_contract = pd.merge(merged_contract,
                           full_data.data['contract_improper_execution'], on='id_contract', how='outer')
len(merged_contract)

2679190

In [31]:
merged_contract.to_csv('data/contracts.csv', sep=';')

In [32]:
merged_contract.head(5)

,id_contract,id_procedure,customer_inn,customer_kpp,protocol_date,sign_date,min_publish_date,contract_subject,contract_price_rub,advance_sum_percents,...,enforcement_type,enforcement_amount_rub,supplier_inn,supplier_kpp,t_termination_date,t_reason_info,t_reason_name,e_improper_execution,e_doc_execution_name,e_doc_execution_date
0,11694128,NaN,7309900546,730901001,NaN,2019-09-23,2019-09-30,Электроэнергия,120603.88,NaN,...,NaN,NaN,7.327012e+09,732701001.0,NaN,NaN,NaN,NaN,NaN,NaN
1,6476238,NaN,2221037355,222101001,NaN,2019-03-25,2019-03-26,NaN,66536.52,NaN,...,NaN,NaN,2.225164e+09,222501001.0,2019-04-18,В связи с передачей объекта в другую управляющ...,Соглашение сторон,NaN,NaN,NaN
2,8685287,NaN,3329010657,332901001,NaN,2019-03-26,2019-03-27,NaN,330000.00,NaN,...,NaN,NaN,7.704440e+09,332701001.0,2020-02-03,Соглашение сторон,Соглашение сторон,NaN,NaN,NaN
3,9127977,NaN,2221037355,222101001,NaN,2019-04-29,2019-04-30,NaN,36913.34,NaN,...,NaN,NaN,2.225164e+09,222501001.0,NaN,NaN,NaN,NaN,NaN,NaN
4,7086116,NaN,2221037355,222101001,NaN,2019-05-06,2019-05-07,NaN,18308.07,NaN,...,NaN,NaN,2.224181e+09,222401001.0,NaN,NaN,NaN,NaN,NaN,NaN

## Закупки
- Из таблицы контрактов получаем закупку по id_procedure
- currency code не нужен, везде RUB
- электронный код есть только при электронном аукционе

In [40]:
full_data.desc['notification_info']

,Название поля,Описание поля,Примечание
0,id_procedure,Идентификатор закупки,NaN
1,min_publish_date,Дата публикации первой версии извещения в ЕИС,NaN
2,etp_code,Кодовое наименование электронной торговой площ...,NaN
3,customer_inn,ИНН заказчика,NaN
4,customer_kpp,КПП заказчика,NaN
5,customer_max_price,Начальная (максимальная) цена контракта,NaN
6,currency_code,Код валюты,NaN
7,placing_name,Наименование подспособа определения поставщика,NaN
8,one_side_rejection,Возможность одностороннего отказа от исполнени...,NaN

In [41]:
full_data.data['notification_info']

,id_procedure,min_publish_date,etp_code,customer_inn,customer_kpp,customer_max_price,placing_name,one_side_rejection
0,6,2018-01-10 14:34:52.573,NaN,903006317,90301001,7.620000e+04,Закупка у единственного поставщика (подрядчика...,NaN
1,8,2018-03-30 16:59:52.731,NaN,3605005810,360501001,1.800000e+04,Закупка у единственного поставщика (подрядчика...,NaN
2,9,2018-03-13 04:40:09.858,NaN,5017045915,501701001,1.580000e+05,Закупка у единственного поставщика (подрядчика...,NaN
3,21,2018-01-17 09:14:32.233,NaN,1818002867,183801001,2.000000e+04,Закупка у единственного поставщика (подрядчика...,NaN
4,19,2018-02-11 19:06:07.781,NaN,326000278,32601001,2.030000e+05,Закупка у единственного поставщика (подрядчика...,NaN
...,...,...,...,...,...,...,...,...
4169096,7977360,2019-11-29 09:17:47.308,87041faed2a7a3afe49926bec81e5b1c,7814758290,781401001,1.363630e+06,Электронный аукцион,True
4169097,7977360,2019-11-29 09:17:47.308,87041faed2a7a3afe49926bec81e5b1c,7814758163,781401001,7.362550e+05,Электронный аукцион,True
4169098,8098278,2019-12-18 20:09:00.814,87041faed2a7a3afe49926bec81e5b1c,7710066231,771001001,8.919647e+08,Электронный аукцион,True
4169099,8193604,2019-12-31 13:54:26.862,78e0f34c8eef6fd5bb3c299f0bd8e8d0,7720261827,890101001,4.251274e+09,Открытый конкурс в электронной форме,NaN
4169100,8480222,2019-11-07 11:47:35.024,87041faed2a7a3afe49926bec81e5b1c,511001011,51101001,3.493275e+07,Электронный аукцион на проведение работ по стр...,NaN

In [36]:
full_data.data['notification_info']['placing_name'].unique()

array(['Закупка у единственного поставщика (подрядчика, исполнителя)',
       'Электронный аукцион', 'Открытый конкурс',
       'Открытый конкурс для заключения договора на проведение аудита бухгалтерской (финансовой) отчетности (согласно ч. 4 ст. 5 Федерального закона от 30.12.2008г. № 307-ФЗ)',
       'Запрос котировок', 'Запрос предложений', 'Повторный конкурс',
       'Конкурс с ограниченным участием', 'Предварительный отбор',
       'Электронный аукцион для заключения энергосервисного контракта',
       'Двухэтапный конкурс', 'Закрытый аукцион',
       'Повторный конкурс с ограниченным участием', 'Закрытый конкурс',
       'Конкурс для заключения энергосервисного контракта',
       'Запрос котировок на выполнение работ по строительству, реконструкции, капитальному ремонту, а также проектных, изыскательских работ в отношении олимпийских объектов и строительству домов взамен земельных участков и объектов недвижимого имущества, изымаемых в целях размещения олимпийских объектов (часть 15 статьи 112 Федерального закона №44-ФЗ)',
       'Запрос котировок для оказания скорой, в том числе скорой специализированной, медицинской помощи в экстренной или неотложной форме и нормального жизнеобеспечения граждан (в соответствии со Статьей 76 Федерального закона № 44-ФЗ)',
       'Запрос котировок для заключения энергосервисного контракта',
       'Запрос предложений в электронной форме',
       'Запрос котировок в электронной форме',
       'Электронный аукцион для торгов по обращению с твердыми коммунальными отходами',
       'Открытый конкурс в электронной форме',
       'Конкурс с ограниченным участием в электронной форме',
       'Открытый конкурс в электронной форме для заключения энергосервисного контракта',
       'Открытый конкурс в электронной форме для заключения договора на проведение аудита бухгалтерской (финансовой) отчетности (согласно ч. 4 ст. 5 Федерального закона от 30.12.2008г. № 307-ФЗ)',
       'Запрос котировок в соответствии со ст. 75 Закона № 44-ФЗ',
       'Двухэтапный конкурс в электронной форме',
       'Открытый конкурс в электронной форме для заключения контракта в сфере науки, культуры или искусства',
       'Закрытый конкурс с ограниченным участием',
       'Запрос котировок в электронной форме для заключения энергосервисного контракта',
       'Конкурс с ограниченным участием для заключения контракта в сфере науки, культуры или искусства',
       'Двухэтапный конкурс для заключения контракта в сфере науки, культуры или искусства',
       'Электронный аукцион на проведение работ по строительству, реконструкции, кап. ремонту, сносу объекта кап. строительства, предусматривающих проектную документацию, утвержденную в порядке, установленном законодательством о градостроительной деятельности'],
      dtype=object)

In [39]:
full_data.data['notification_info']['currency_code'].unique()

KeyError: 'currency_code'

In [38]:
full_data.data['notification_info'].pop('currency_code')

0          RUB
1          RUB
2          RUB
3          RUB
4          RUB
          ...
4169096    RUB
4169097    RUB
4169098    RUB
4169099    RUB
4169100    RUB
Name: currency_code, Length: 4169101, dtype: object

In [42]:
full_data.data['notification_info']['one_side_rejection'].unique()

array([nan, True], dtype=object)

## Сотрудники (avg_staff_qty)
- Есть компании с нулевым количеством сотрудников
Это говорит о том, что большинство сотрудников работает по ГПХ или ИНН принадлежит ИП, а не ООО.

In [13]:
full_data.desc['avg_staff_qty']

,Название поля,Описание поля,Примечание
0,inn,ИНН организации налогоплательщика,NaN
1,avg_staff_qty,Среднесписочная численность работников организ...,NaN

In [14]:
full_data.data['avg_staff_qty']

              inn  avg_staff_qty
0      6164308645              3
1      5507262154              1
2      3666121081              1
3      5610221507              0
4      6453136177              3
...           ...            ...
93767  1001138317              8
93768  7743839536              1
93769  3811157720              5
93770  3811157801              9
93771  1655083433              7

[93772 rows x 2 columns]

## Жалобы (complaint_info)

In [43]:
full_data.desc['complaint_info']

       Название поля                  Описание поля  Примечание
0       id_complaint           Идентификатор жалобы         NaN
1       id_procedure          Идентификатор закупки         NaN
2             status                  Статус жалобы         NaN
3  processing_result  Результат рассмотрения жалобы         NaN

In [9]:
full_data.data['complaint_info'].head(20)

,id_complaint,id_procedure,status,processing_result
0,299581,6303311,Рассмотрена,Признана обоснованной
1,293774,6067025,Рассмотрена,Признана обоснованной
2,314784,6830257,Рассмотрена,Признана обоснованной (частично)
3,308753,6830257,Рассмотрена,Признана обоснованной
4,296341,6249813,Рассмотрена,Признана необоснованной
5,310814,6667339,Отказано в рассмотрении,NaN
6,260944,4772414,Рассмотрена,Признана необоснованной
7,259639,4772414,Рассмотрена,Признана обоснованной
8,312984,6641138,Рассмотрена,Признана обоснованной
9,295077,6641138,Рассмотрена,Признана обоснованной (частично)
10,288515,6641138,Рассмотрена,Признана обоснованной
11,276113,5496717,Рассмотрена,Признана необоснованной
12,276112,5496717,Рассмотрена,Признана необоснованной
13,276109,5496717,Рассмотрена,Признана необоснованной
14,276106,5496717,Рассмотрена,Признана необоснованной
15,276104,5496717,Рассмотрена,Признана необоснованной
16,274753,5496717,Рассмотрена,Признана обоснованной (частично)
17,274752,5496717,Рассмотрена,Признана обоснованной
18,276099,5496717,Отозвана,NaN
19,276098,5496717,Отозвана,NaN

In [7]:
full_data.data['complaint_info']['status'].unique()

array(['Рассмотрена', 'Отказано в рассмотрении', 'Отозвана'], dtype=object)

In [8]:
full_data.data['complaint_info']['processing_result'].unique()

array(['Признана обоснованной', 'Признана обоснованной (частично)',
       'Признана необоснованной', nan], dtype=object)

## Статистика по победам
- количество участий и количество побед

In [45]:
full_data.desc['participation_statistic']

,Название поля,Описание поля,Примечание
0,participant_inn,ИНН поставщика,NaN
1,participant_kpp,КПП поставщика,NaN
2,fz,"Федеральный закон, в рамках которого проводили...",Допустимые значения:\n44fz - 44-ФЗ\n223fz - 22...
3,procedure_qty,"Количество процедур, в которых поставщик приня...",NaN
4,win_qty,"Количество процедур, в которых поставщик был п...",NaN

In [46]:
full_data.data['participation_statistic']

        participant_inn  participant_kpp     fz  procedure_qty  win_qty
0           10100100492              NaN   44fz              4        3
1           10100150863              NaN   44fz              3        3
2             101003907       10101001.0  223fz              1        1
3             101003907       10101001.0   44fz             14       11
4           10100400827              NaN   44fz              2        1
...                 ...              ...    ...            ...      ...
213673       9717054454      771701001.0   44fz              1        1
213674       9718027407      771801001.0   44fz              1        1
213675       9729031317      772901001.0   44fz              1        1
213676       9729184480      772901001.0   44fz              1        1
213677       9901007255      990101001.0   44fz              1        1

[213678 rows x 5 columns]

## РНП

In [47]:
full_data.desc['rnp']

,Название поля,Описание поля,Примечание
0,inn,ИНН недобросовестного поставщика,NaN
1,kpp,КПП недобросовестного поставщика,NaN
2,rnp_supplier_reg_number,Реестровый номер поставщика в реестр недобросо...,NaN
3,include_reason,Причина для внесения в РНП,NaN
4,include_date,Дата включения сведений в РНП,NaN
5,exclude_date,Дата для исключения из РНП,NaN

In [50]:
full_data.data['rnp']

,inn,kpp,rnp_supplier_reg_number,include_reason,include_date,exclude_date
0,2339024150,233901001.0,a4992e14542cee37f6cad01c70fa2d9f,Расторжение контракта,2019-02-01,2021-02-01
1,246302634710,NaN,59b3d789ee91fdc22d795e4fd3b5d5cc,Расторжение контракта,2019-06-21,2021-06-21
2,2723166932,272301001.0,319528e7ccc8c59993c7442a879964b0,Уклонение победителя от заключения контракта,2017-04-20,2019-04-20
3,7207019441,NaN,0d6e9bc4eb0c3f4434d4d51fb0d22794,Расторжение контракта,2019-12-21,2021-12-04
4,3702558056,370201001.0,329aa6bcb5c8475034a30dbecd8ccaad,Расторжение контракта,2018-02-01,2020-02-02
...,...,...,...,...,...,...
5633,7327078953,732701001.0,b0228a3dd778b5ee3adaccb8812881c5,Расторжение контракта,2019-11-25,2021-11-25
5634,4027990659,402701001.0,8ee5554ad21c0f6b072e4dd203bf29fd,Уклонение победителя от заключения контракта,2015-10-07,2015-10-07
5635,5401983981,540501001.0,45f52177abefd299e95744e6e7424b4c,Уклонение победителя от заключения контракта,2019-07-28,2021-07-28
5636,5753057950,NaN,a40c87bce01799ff6b5931a1828f6f6b,Расторжение контракта,2015-02-05,2017-02-06
5637,4826072630,482601001.0,f351b6b831e5639715b2cb5f118eb361,Уклонение победителя от заключения контракта,2014-12-12,2016-12-12

In [52]:
full_data.data['rnp']['include_reason'].unique()  # дублируются. Со значениями "договор" и "контракт"

array(['Расторжение контракта',
       'Уклонение победителя от заключения контракта',
       'Уклонение единственного участника от заключения контракта',
       'Уклонение участника размещения заказа от заключения контракта, в случае, когда победитель уклонился от заключения контракта',
       'Расторжение договора в случае одностороннего отказа заказчика от исполнения договора в связи с существенным нарушением участниками электронных аукционов условий таких договоров',
       'Уклонение победителя от заключения договора',
       'Уклонение единственного участника от заключения договора'],
      dtype=object)

## Тест

In [1]:
from base import DataObj

full_data = DataObj('data')

100%|██████████| 26/26 [00:21<00:00,  1.23it/s]

In [2]:
from processing.complaints import get_numbers_of_complaints

result = get_numbers_of_complaints(full_data, inn=5908078473, get_row=True)
result.head()

,as_customer | Признана обоснованной,as_customer | Признана обоснованной (частично),as_customer | Признана необоснованной,as_customer | Отказано в рассмотрении,as_customer | Отозвана,as_customer | Всего жалоб,as_supplier | Признана обоснованной,as_supplier | Признана обоснованной (частично),as_supplier | Признана необоснованной,as_supplier | Отказано в рассмотрении,as_supplier | Отозвана,as_supplier | Всего жалоб
inn,,,,,,,,,,,,
5908078473,0,0,0,0,0,0,1,0,0,0,0,1